.containerCentralPagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: red;
  width: 70px;
  height: 70px;
}

.selected{
  background-color: blueviolet;
  width: 70px;
  height: 70px;
}
.interval{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}
